#body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-image: no repeat;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: brown;
  font-size: 25px;
}

#main {
  color: bisque;
  align-items: flex-start;
}
#footer {
  color: rgb(29, 37, 42);
  padding-bottom: 20px;
  margin-top: 100px;
  border: 2px solid rgb(142, 118, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
}
